.activity {
    position: relative;
    padding: 20px;
  }
  
  .chart-title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  
  .custom-legend {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .black {
    background-color: #000;
  }
  
  .red {
    background-color: #ff0000;
  }
  
  .custom-tooltip {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  