.home {



  .down {

    display: flex;


    .session {
        flex: 4;
        background-color: mediumblue;
    
    
      }
    
      .performance {
    
        flex:4;
    
        background-color: beige;
    
      }
    
      .score {
    
        flex: 3;
        background-color: aqua;
    
      }




  }
  
 
}